
<div class="row">
    <div class="well">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control input-sm thinTextBox" id="txtName" ng-model="vm.product.Name">
            </div>
            <div class="form-group">
                <label for="txtDescription">Description</label>
                <input type="text" class="form-control input-sm thinTextBox" id="txtDescription" ng-model="vm.product.Desc">
            </div>
            <div class="form-group">
                <label for="txtPrice">Price</label>
                <input type="text" class="form-control input-sm thinTextBox" id="txtPrice" ng-model="vm.product.Price" />
            </div>

            </br>

            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="vm.add()">Add</button>
            </div>
</form>

        <table class="table table-condensed table-hover table-striped">
            <tr class="panel-title">
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="item in vm.productList">

                <td>
                    <!--Edit + Delete-->
                    <div class="btn-toolbar" ng-show="item.editMode == null || item.editMode == false">
                        <div class="btn-group">
                            <i class="btn glyphicon glyphicon-edit" ng-click="vm.toggleEditMode(item)" title="Edit"></i>
                            <i class="btn glyphicon glyphicon-trash" ng-click="vm.delete(item)" title="Delete" data-toggle="modal"></i>
                        </div>
                    </div>

                    <!--Save + Cancel-->
                    <div class="btn-toolbar" ng-show="item.editMode">
                        <div class="btn-group">
                            <i class="btn glyphicon glyphicon-floppy-disk" ng-click="vm.update(item)" title="Save" ng-disabled="editForm.$invalid"></i>
                            <i class="btn glyphicon glyphicon-remove" ng-click="vm.toggleEditMode(item)" title="Cancel"></i>
                        </div>
                    </div>
                </td>

                <td style="vertical-align:middle">
                    <!--Name read mode-->
                    <span>{{item.Name}}</span>
                </td>

                <!-- Content columns-->
                <td style="vertical-align:middle">
                    <!--Name read mode-->
                    <span ng-show="item.editMode == null || item.editMode == false" ng-dblclick="toggleEditMode(item)">
                        {{item.Desc}}
                    </span>
                    <!--Name edit mode-->
                    <form name="editForm">
                        <input ng-model="item.Desc" ng-show="item.editMode" required ng-keydown="updateOnEnter(item, $event)" class="form-control" />
                    </form>
                </td>
                <td style="vertical-align:middle">
                    <!--Name read mode-->
                    <span ng-show="item.editMode == null || item.editMode == false" ng-dblclick="toggleEditMode(item)">
                        {{item.Price}}
                    </span>
                    <!--Name edit mode-->
                    <form name="editForm">
                        <input type="number" ng-model="item.Price" ng-show="item.editMode" required ng-keydown="updateOnEnter(item, $event)" class="form-control" />
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>
