<span class="spinner">
    <input type="text" ng-model="vm.value" ng-change="vm.onValueChanged()" class="form-control">
    <span class="input-group-btn">
        <div class="input-group-btn-vertical">
            <button class="btn btn-default" type="button" ng-click="vm.clickUp()">
                <i class="fa fa-caret-up"></i>
            </button>
            <button class="btn btn-default" type="button" ng-click="vm.clickDown()">
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </span>
</span>