


<table class="table table-condensed table-striped table-hover table-bordered custom-table-style">
    <tr class="panel-title">
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of product;" (dblclick)="toggleEditMode(item)">
        <td>
            <!--Edit + Delete-->
            <div class="btn-toolbar" [hidden]="item.editMode">
                <div class="btn-group">
                    <i class="btn glyphicon glyphicon-edit" (click)="toggleEditMode(item)" title="Edit"></i>
                    <i class="btn glyphicon glyphicon-trash" (click)="deleteProduct(item)" title="Delete" data-toggle="modal"></i>
                </div>
            </div>
            <!--Save + Cancel-->
            <div class="btn-toolbar" [hidden]="!item.editMode">
                <div class="btn-group">
                    <i class="btn glyphicon glyphicon-floppy-disk" (click)="update(item)"  title="Save"></i>
                    <i class="btn glyphicon glyphicon-remove" (click)="toggleEditMode(item)" title="Cancel"></i>
                </div>
            </div>
        </td>
        <td style="vertical-align: middle">
            <!--Name read mode-->
            <span class="full-width-inline">{{item.name}}</span>
        </td>
        <!-- Content columns-->
        <td style="vertical-align: middle">
            <!--Name read mode-->
            <span class="full-width-inline" [hidden]="!item.editMode">
                {{item.desc}}
            </span>
            <!--Name edit mode-->
            <form name="editForm">
                <input name="desc" [(ngModel)]="item.desc" [hidden]="item.editMode" required class="form-control" />
            </form>
        </td>
        <td style="vertical-align: middle">
            <!--Name read mode-->
            <span class="full-width-inline" [hidden]="!item.editMode">
                {{item.price}}
            </span>
            <!--Name edit mode-->
            <form name="editForm">
                <input name="price" [(ngModel)]="item.price "[hidden]="item.editMode" required  class="form-control" />
            </form>
        </td>
    </tr>
</table>

