@{
    ViewBag.Title = "Home Page";
}

@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li><a href=@Url.Content("~/#admin")> Admin</a></li>
                <li><a href=@Url.Content("~/#shop")> Shop</a></li>
                </ul>
            </div>
        </div>
    </div>*@

<section id="content">
    <div class="container body-content">
        <div>

            <div data-ng-view class="shuffle-animation"></div>

        </div>
    </div>
</section>